.add-button{
    background: transparent;
    float: right;
    border: none;
    color: orange;
    margin-right: 30px;
}

.add-button:before{
    content: "+";
    margin-right: 10px;
    width: 10px;
}

.add-button:hover{
    color: blue;
}
ul.list{
    list-style: none !important;
    list-style-type: none;
}

.list-items ul{
    list-style: none !important;
    list-style-type: none;
}




@media only screen and (max-width: 480px) {

.add-button{
    float: none;
    margin-left: 5px;
}


}